FRAMEWORK_PROFILE=stub
DEFAULT_SERVICE_BACKEND=stub
PRODUCT_CATALOG_SERVICE_BACKEND=stub
CART_SERVICE_BACKEND=stub
CHECKOUT_SERVICE_BACKEND=stub
TARGET_ENV=local
REQUEST_TIMEOUT_SECONDS=10
VERIFY_SSL=false
ALLURE_ATTACH_HTTP=false
CART_SERVICE_STUB_BASE_URL=http://localhost:8081
PRODUCT_CATALOG_SERVICE_STUB_BASE_URL=http://localhost:8081
CHECKOUT_SERVICE_STUB_BASE_URL=http://localhost:8081
CART_SERVICE_REAL_BASE_URL=http://localhost:60003
PRODUCT_CATALOG_SERVICE_REAL_BASE_URL=http://localhost:60002
CHECKOUT_SERVICE_REAL_BASE_URL=http://localhost:60001
DEFAULT_CART_USER_ID=demo-user
DEFAULT_PRODUCT_ID=OLJCESPC7Z
DEFAULT_PRODUCT_QUANTITY=1
